{% extends 'base.html' %}

{% block title %}
<title>Title</title>
{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

{% for el in data %}

<div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{el.title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{el.price}}<small class="text-muted fw-light"> rub</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </ul>
            <a href = '/buy/{{el.id}}' class = "btn btn-lg btn-outline-primary" >buy</a>
          </div>
        </div>
      </div>
{% endfor %}

</div>

{% endblock %}